<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block menu %}
            <div class="menu">
                <a href="{{ path('main_page') }}">Main page</a>
                {% if is_granted('ROLE_ADMIN') %}
                 | <a href="{{ path('admin_page') }}">Admin page</a>
                {% endif %}
                
                {% if is_granted('ROLE_EDITOR') %}
                 | <a href="{{ path('editor_page') }}">Editor page</a>
                {% endif %}
                
                {% if is_granted('ROLE_USER') %}
                 | <a href="{{ path('user_page') }}">User page</a>
                {% endif %}
                 | <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endblock %}
        {% block body %}
            
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>