{% extends '::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="site-wrapper" id="home">
        <div class="site-wrapper-inner" id="home-content">
            <div id="home-text-wrapper">
                <br />
                <br />
                <div id="home-text">
                    {% if error %}
                        <div class="alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    
                    <div class="text-color-black">
                        
                        {{ form_start(form) }}
                            {{ form_widget(form.username) }} <br />
                            {{ form_widget(form.password) }} <br />
                            {{ form_widget(form.login) }} <br /><br />
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.target_path) }} 
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                                               
                    </div>                            
                </div>
            </div>
        </div>
    </div>

{% endblock %}