{% extends '::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="site-wrapper" id="home">
        <div class="site-wrapper-inner" id="home-content">
            <div id="home-text-wrapper">
                <div id="home-text">
                    {% if error %}
                        <div class="alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    
                    <div class="text-color-black">
                        
                        {{ form_start(form) }}
                            {{ form_widget(form.username) }}
                            {{ form_widget(form.password) }} <br />
                            {{ form_widget(form.login) }} <br />
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.target_path) }} 
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                                               
                    </div>
                        {#
                    <div>
                        <form action="{{ path('login_check') }}" method="post">                
                            <input type="text" id="username" name="login[username]" placeholder="Enter username" /><br />     
                            <input type="password" id="password" name="login[password]" placeholder="Enter password" /><br />
                            <input type="hidden" name="login[_token]" value="{{ csrf_token('authenticate') }}" >
                            <input type="hidden" name="login[target_path]" value="/" />

                            <button type="submit" id="admin-login" >Login</button>
                        </form>
                    </div>            
                          #}  
                            
                </div>
            </div>
        </div>
    </div>

{% endblock %}